---
import Layout from '../layouts/Layout.astro';
import MainImage from '../components/MainImage.astro';
import Proyectos from '../sections/Proyectos.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='aaaaaa'>
	<html>
	
		<MainImage />
		<h2 class="text-3xl text-white text-center mt-10 animate-tada">liuflee</h2>


		<main class="p-4">
		  <section class="my-8 text-center text-white">
			<h2 class="text-2xl font-semibold">Sobre mí</h2>
			<p class="mt-2">denme pega porfa</p>
		  </section>
		  
		  <Proyectos />
		  
		  <section class="my-8 text-center text-white">
			<h2 class="text-2xl font-semibold">Experiencia</h2>
			<ul>
			  <li>21 años flojeando en mi casa</a></li>
			  <li>5 años jugando Apex Legends</a></li>
			  <li>10 años cagandome en los compañeros de equipo</a></li>			
			</ul>

		  </section>

		</main>
	
		<Footer></Footer>
	  </body>
	</html>
	
</Layout>
