			  
<div class="bg-white p-4 shadow rounded">
    <h3 class="text-xl font-bold">Chaos News</h3>
    <p class="mt-2">Chaos News es una aplicación web de noticias construida con Django</p>
    
</div>