
<section>
    <div class="flex items-center justify-center ">
        <img src="https://media.tenor.com/BagiEweTgFIAAAAM/silly-cat.gif" class="rounded-full h-150 w-150  " alt="">
    </div>
    
    

</section>
    