---
import Proyecto from "../components/Proyecto.astro";
---

<section class="my-8">
    <h2 class="text-2xl font-semibold text-white">Proyectos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      <!-- Repite este bloque para cada proyecto -->

        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="public/chaosnews.png" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://ethic.es/wp-content/uploads/2023/03/imagen.jpg" />

      
      
        <!-- Fin del bloque de proyecto -->
    </div>


</section>