---
import Proyecto from "../components/Proyecto.astro";
---

<section class="my-8">
    <h2 class="text-2xl font-semibold text-white">Proyectos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      <!-- Repite este bloque para cada proyecto -->

        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAGUp1tD2HUf3KolaGUG-4sdeaun1b2BzrSQ&s" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI_Eer8eBbdYCSA1KcItkwXMkebZQbaBEy0Q&s" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://steamuserimages-a.akamaihd.net/ugc/2074509887587734780/5BE7A6A4FCD0CA3B16CEBC7C738C307033CCEA8C/" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://i.redd.it/silly-cat-memes-i-found-3-v0-pfej9kotbyfc1.jpg?width=788&format=pjpg&auto=webp&s=a981f95c29e1cca276805f2dcb75ea1b5952fcea" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://media.tenor.com/t3dLLNaI50oAAAAM/cat-cats.gif" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxcV2DjOX2plp7rP_qDILaXcfd2863RRHXYA&s" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://i.ytimg.com/vi/D5zRI0KNQh0/maxresdefault.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://imgflip.com/s/meme/Cute-Cat.jpg" />
        <Proyecto title="Chaos News" description="Chaos News es una aplicación web de noticias construida con Django" imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb0gu4dFC4uZ6QeP4h1Gp-_7KPDGoAWAXDBCB3Wu97WclG20aTzCF32PM8SJ4KvvPBiCg&usqp=CAU" />

      
      
        <!-- Fin del bloque de proyecto -->
    </div>


</section>